<!-- <p>child works!</p> -->

<!-- <h2>{{namedata|json}}</h2> -->

<!-- <h2>{{id}}</h2>
<h2>{{name}}</h2>
<h2>{{email}}</h2> -->
<!-- <h2>hello</h2> -->
<!-- <form>
    <input type="number" name="id" value="{{id}}" /> <br/>
    <input type="text" name="name" value="{{name}}" #value/> <br/>
    <input type="text" name="email" value="{{email}}"/> <br/>
   
</form> -->
<!-- <button (click)="emitData(value)">Update</button> -->
<h2>Edit Customer</h2>

  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="customer.name" required>

  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="customer.email" required>

  <button type="submit" (click)="submitForm()">Save</button>
